.filter-wrapper{
  width:200px;
}

table {
  width: 100%;

  th.mat-column-created_at{
    width:15%;
  }

  td.mat-cell{
    padding:10px;
    cursor: pointer;
  }

  tr.mat-row{
    &:hover{
      background: #f3f2f2;
    }
  }

  th.mat-header-cell{
    padding:10px;
  }

  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type{
    padding-left:24px;
  }

  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell:last-of-type{
    padding-right:24px;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
